projects/n8n_price_monitor/workflows/price_monitor_final.json
{
  "name": "Autonomous Price Monitor v14.0 - SIMPLE PARALLEL",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-manual-1",
      "name": "When clicking 'Execute workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [400, 400]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1W0LEztgC8mm3xTXbcA4JsYvlbG64QmHAMHegamKcLmk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Посилання",
          "mode": "name"
        },
        "options": {}
      },
      "id": "gsheets-read-1",
      "name": "Read URLs",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [600, 400]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst output = [];\n\nif (items.length === 0) return [];\n\nconst allKeys = new Set();\nitems.forEach(item => Object.keys(item.json).forEach(key => allKeys.add(key)));\n\nconst isServiceKey = (k) => {\n    const s = k.toLowerCase().trim();\n    return s.includes('магазин') || s.includes('селектор') || s.includes('shop') || s.includes('selector') || s === 'id' || s === 'row_number';\n};\n\nconst productColumns = Array.from(allKeys).filter(k => !isServiceKey(k));\n\nfor (const product of productColumns) {\n    for (const row of items) {\n        const d = row.json;\n        const url = (d[product] || '').toString().trim();\n        \n        // Более гибкий поиск ключа селектора (ищем 'селектор' или 'selector' внутри названия)\n        const selectorKey = Object.keys(d).find(k => {\n            const lowKey = k.toLowerCase().trim();\n            return lowKey.includes('селектор') || lowKey.includes('selector');\n        });\n        \n        const selector = selectorKey ? (d[selectorKey] || '').toString().trim() : '';\n        const shopKey = Object.keys(d).find(k => k.toLowerCase().includes('магазин') || k.toLowerCase().includes('shop'));\n\n        // Важное изменение: проверяем, что селектор НЕ пустой перед добавлением в очередь\n        if (url.startsWith('http') && selector.length > 0) {\n            output.push({\n                json: {\n                    shop: (d[shopKey] || 'Unknown').toString().trim(),\n                    selector: selector,\n                    product: product.trim(),\n                    url: url\n                }\n            });\n        }\n    }\n}\nreturn output;"
      },
      "id": "code-unpivot-1",
      "name": "Unpivot Matrix (Interleaved)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 400]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "loop-stealth-1",
      "name": "Loop (Stealth)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [1000, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://browserless:3000/scrape",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.url }}\",\n  \"elements\": [{ \"selector\": \"{{ $json.selector }}\" }],\n  \"gotoOptions\": { \"waitUntil\": \"domcontentloaded\", \"timeout\": 60000 }\n}",
        "options": {
          "timeout": 90000,
          "response": {
            "responseProperties": {
              "putResponseInField": true,
              "responsePropertyName": "scrapeData"
            }
          }
        }
      },
      "id": "http-scrape-1",
      "name": "Scrape Price",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1200, 300],
      "continueOnFail": true,
      "retryOnFail": true,
      "maxRetries": 3,
      "waitBetweenRetries": 5000
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (75 - 5 + 1)) + 5 }}",
        "unit": "seconds"
      },
      "id": "wait-stealth-1",
      "name": "Wait (Random)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1400, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// 1. Получаем 100 оригинальных записей с магазинами и моделями из самого начала цепочки\nconst originals = $(\"Unpivot Matrix (Interleaved)\").all();\n\n// 2. Получаем 100 спарсенных ответов, которые выдал цикл прямо на вход (ветка Done)\nconst allScraped = $input.all();\n\nconst groupedByShop = {};\n\nfor (let i = 0; i < originals.length; i++) {\n  const shop = (originals[i].json.shop || \"Unknown\").toString().trim();\n  const product = (originals[i].json.product || \"Unknown\").toString().trim();\n  \n  if (shop === \"Unknown\") continue;\n  \n  // 1. Название магазина - одна коллекция элементов\n  if (!groupedByShop[shop]) {\n    groupedByShop[shop] = { \"Магазин\": shop };\n  }\n\n  // Если ответа по какой-то причине нет\n  if (!allScraped[i] || !allScraped[i].json) continue;\n  \n  const scrapeJson = allScraped[i].json;\n  const dataArray = scrapeJson.data || [];\n  let foundPrice = null;\n  \n  // Глубокий поиск цены внутри массивов results\n  for (const element of dataArray) {\n    if (!element.results) continue;\n    for (const res of element.results) {\n      if (res.text && res.text.trim().length > 0) {\n        const raw = res.text.trim();\n        // Замена и очистка: отрезает ₴, грн, $ и удаляет пробелы -> было \"202 759 ₴\", станет 202759\n        const cleanText = raw.split(/грн|\\$|₴|€/i)[0];\n        const val = parseInt(cleanText.replace(/[^\\d]/g, ''));\n        \n        if (val > 0) {\n          foundPrice = val;\n          break;\n        }\n      }\n    }\n    if (foundPrice) break;\n  }\n\n  // 2. Название модели служит ключом для колонки\n  // 3. Цена - вставляется значением\n  if (foundPrice) {\n    groupedByShop[shop][product] = foundPrice;\n  }\n}\n\nreturn Object.values(groupedByShop);"
      },
      "id": "code-pivot-1",
      "name": "Process & Pivot (Zero-Filter)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 550]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1W0LEztgC8mm3xTXbcA4JsYvlbG64QmHAMHegamKcLmk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Ціни",
          "mode": "name"
        },
        "columnToMatchOn": "Магазин",
        "mappingMode": "autoMap",
        "options": {}
      },
      "id": "gsheets-update-prices",
      "name": "Update Matrix Row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1550, 550]
    }
  ],
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "Read URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read URLs": {
      "main": [
        [
          {
            "node": "Unpivot Matrix (Interleaved)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unpivot Matrix (Interleaved)": {
      "main": [
        [
          {
            "node": "Loop (Stealth)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop (Stealth)": {
      "main": [
        [
          {
            "node": "Scrape Price",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process & Pivot (Zero-Filter)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Price": {
      "main": [
        [
          {
            "node": "Wait (Random)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait (Random)": {
      "main": [
        [
          {
            "node": "Loop (Stealth)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process & Pivot (Zero-Filter)": {
      "main": [
        [
          {
            "node": "Update Matrix Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "v14.0-simplified-parallel"
}
